body {
    background-color: #84F894;
    font-family: Arial;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    text-align:center;
	flex-direction: column;
}

.sub-heading {
    text-align:center;
}

.sub-content {
    margin: auto 20%;

}